body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0a143a; /* цвет текста */
}

.container {
  max-width: 1146px; /* максимальная ширина */
  margin: auto; /*автовыравнивание посередине*/
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 12px;
}

.navbar {
  display: flex; /* делаем гибкий блок */
  align-items: center; /* выравниваем по горизонтали по центру */
  justify-content: space-between; /* разбросать элементы по краям */
  margin-bottom: 24px;
}

.navbar-menu {
  margin-right: auto;
}

.menu {
  list-style: none; /* убираем маркеры в списке */
  margin: 0;
  padding: 0 0 0 21px;
  padding-right: 21px;
  display: flex;
}

/* для всех пунктов меню, кроме последнего */
.menu-item:not(:last-child) {
  margin-right: 14px;
}

.menu-link {
  text-decoration: none; /* отключаем подчеркивание ссылок */
  color: inherit; /* берем цвет текста от (body) */
}

/* Вход и регистрация \ Объявление */
.button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button-link {
  color: inherit;
}

.button-primary {
  background: #256eeb; /* цвет кнопки */
  border-radius: 5px; /* скругление углов кнопки */
  color: #ffffff;
  padding: 10px 15px;
}

.search-panel {
  height: 50px;
  background: #256eeb;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}

.search-input {
  flex-grow: 1; /* растягивается на всё свободное место */
  background: #ffffff;
  border-radius: 5px;
  border: none; /* убрать обводку поля ввода */
  padding-left: 22px;
}

.search-button {
  background: #256eeb;
  border: none;
  color: white;
  margin: 0 17px 0 20px;
  display: flex;
  align-items: center;
}

.search-button-text {
  margin-left: 5pxs;
}

.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
}
.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}

.cards {
  display: flex;
  flex-wrap: wrap; /* Если не помещаются, то переносятся */
}

.card {
  margin-bottom: 20px;
}

.card:not(:nth-child(3n)) {
  margin-right: 20px;
}

.card-title {
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
  margin-top: 12px;
  margin-bottom: 5px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 264px;
}

.card-link {
  text-decoration: none;
}

.card-price {
  font-size: 16px;
  line-height: 19px;
  color: #0a143a;
  margin-bottom: 10px;
  display: block;
}

.like {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}

.icon-like {
  fill: #c4c4c4;
}
.icon-like:hover {
  fill: red;
}

.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 4px;
  margin-top: 0;
}
.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;
}

.service {
  margin-bottom: 30px;
}

.service-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #0a143a;
  margin-top: 7px;
  margin-bottom: 5px;
}

.service-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #0a143a;
  max-width: 217px;
}

.footer-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 5px;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}

.footer-link {
  color: #0a143a;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}

.content {
  max-width: 464px;
  margin-right: 25px;
}

.swiper-container {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
  border-radius: 10px;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 10px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.content-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #0a143a;
}

.main-single {
  display: flex;
  align-items: flex-start;
}

.author {
  min-width: 264px;
}

.author-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 30px 0;
}

.author-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
}

.author-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #0a143a;
  display: block;
  margin-bottom: 5px;
}

.rating-counter {
  margin: 0 0 5px 10px;
  color: #0a143a;
  opacity: 0.5;
}

.author-status {
  font-size: 12px;
  line-height: 14px;
  color: #0a143a;
}

.single-price {
  color: #0a143a;
}

.button-block {
  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: 14px;
  border: none;
}

.button-success {
  color: white;
  background-color: #14b4be;
  border-radius: 5px;
}
